
	<head>
	 <meta http-equiv="content-type" charset="utf-8">
	</head>
  <body>
    <form method="post" action="/helo">
        <p>牛番号</p>
        <input type="text" name="cowbang" value =""/>
         <p>緯度</p>
         <input type="text" name="latitude" value =""/>
         <p>経度</p>
        <input type="text" name="longitude" value =""/>
        <input type="submit">
    </form>
  </body>