<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>買うチェック！！！！</h1>
  	<p>/helo : GPSデータを入力するところです</p>
  	<p>/zip : Zipファイルを受け取るところです　</p>
  	<p>/get : 使おうと思って使わなかった何かです</p>
  	<p>/flightdrone/___ : __のところに入力した数字の牛へ向かうように命令を送るところです</p>
    <p>/delete : テキストファイルを初期化します</p>

  </body>
</html>
